body {
  background-color: #dfe86d;
  font-family: 'Catamaran', sans-serif;
}

main {
  text-align: center;
  display: block;
  padding: 48px 0 124px;
}

main.paragraph {
  text-align: left !important;
  font-family: 'Staatliches', cursive;  
  font-size: 100%;
  display: contents;
  width: 80%; 
  margin: 0 auto;
  padding: 48px 0;
}

main.paragraph {
  text-align: left !important;
  font-family: 'Staatliches', cursive;  
  font-size: 100%;
  display: contents;
  width: 80%; 
  margin: 0 auto;
  padding: 48px 0;
}

h1 {
  width: 100%; 
  text-align: center;
  margin: 16px auto;
  font-family: 'Staatliches', cursive;  
  font-size: 300%;
}

h2 {
  font-family: 'Staatliches', cursive;
  font-size: 225%;
  margin: 0 auto;
}

h3 {
  font-family: 'Staatliches', cursive;
  font-size: 160%;
}

nav {
  float: right;
  margin: 37px 64px;
}

nav li {
    display: inline;
    padding: 12px;
    font-size: 140%;
}

form {
  padding: 24px;
}

label {
  display: block;
  font-family: 'Staatliches', cursive;
  font-size: 225%;
  font-weight: normal;
  margin: 8px 0;
}

input {
  margin: 0 0 8px 0;
  padding: 4px;
}

.logo {
  padding: 24px;
}

.dates {
  display: inline-block; 
  margin: 40px;
}

.listings-from {
  display: block;
  float: left;
  margin: 20px;
}

.listings-to {
  display: block;
  float: left;
  margin: 20px;
}

#listing-search {
  display: block;
  float: left;
  margin: 20px;
  background: #2cb8ac;
  background-image: -webkit-linear-gradient(top, #2cb8ac, #2bb82f);
  background-image: -moz-linear-gradient(top, #2cb8ac, #2bb82f);
  background-image: -ms-linear-gradient(top, #2cb8ac, #2bb82f);
  background-image: -o-linear-gradient(top, #2cb8ac, #2bb82f);
  background-image: linear-gradient(to bottom, #2cb8ac, #2bb82f);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#listing-search:hover {
  background: #3cfc89;
  background-image: -webkit-linear-gradient(top, #3cfc89, #3498db);
  background-image: -moz-linear-gradient(top, #3cfc89, #3498db);
  background-image: -ms-linear-gradient(top, #3cfc89, #3498db);
  background-image: -o-linear-gradient(top, #3cfc89, #3498db);
  background-image: linear-gradient(to bottom, #3cfc89, #3498db);
  cursor: pointer;
  text-decoration: none;
}

.btn {
  display: block;
  margin: 24px auto;
  background: #2cb8ac;
  background-image: -webkit-linear-gradient(top, #2cb8ac, #2bb82f);
  background-image: -moz-linear-gradient(top, #2cb8ac, #2bb82f);
  background-image: -ms-linear-gradient(top, #2cb8ac, #2bb82f);
  background-image: -o-linear-gradient(top, #2cb8ac, #2bb82f);
  background-image: linear-gradient(to bottom, #2cb8ac, #2bb82f);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cfc89;
  background-image: -webkit-linear-gradient(top, #3cfc89, #3498db);
  background-image: -moz-linear-gradient(top, #3cfc89, #3498db);
  background-image: -ms-linear-gradient(top, #3cfc89, #3498db);
  background-image: -o-linear-gradient(top, #3cfc89, #3498db);
  background-image: linear-gradient(to bottom, #3cfc89, #3498db);
  text-decoration: none;
  cursor: pointer;
}

.about-team-section {
  width: 80%;
  margin: 48px auto 24px;
}

.about-team-desc {
  margin: 0 auto;
  width: 50%;
}

.about-area {
  padding: 0 124px 124px;
}

.about-section {
  padding: 0 0 0 32px;
  float:left;
  width: 45%;
  height: 10em;
}

.about-desc {
  margin: 0 auto;
  padding: 0 24px;
}

#or-maybe {
  margin: 0 auto;
}

#list {
  margin: 0 auto;
}

#listings {
  margin: auto;
}

#list-new {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}

#list-desc {
  height: 120px;
  width: 400px;
}
 (can't make paragraph left)
#h3 {
  width: 80%; 
  text-align: left;
  margin: 0 auto;
  font-family: 'Staatliches', cursive;  
  font-size: 200%;
}

 (can't make paragraph left)
#paragraph {
  display: contents;
  width: 80%; 
  text-align: left;
  margin: 0 auto;
  font-family: 'Staatliches', cursive;  
  font-size: 100%;

