body {
  background-color: #dfe86d;
  font-family: 'Catamaran', sans-serif;
}

main {
  text-align: center;
}

h1 {
  font-family: 'Staatliches', cursive;  
  font-size: 300%;
}

nav {
  float: right;
  margin: 37px 64px;
}

nav li {
    display: inline;
    padding: 12px;
    font-size: 140%;
}

label {
  display: block;
}

input {
  margin: 8px;
  padding: 4px;
}

.logo {
  padding: 24px;
}

#login-submit {
  display: block;
  margin: 24px auto;
  background: #70d934;
  background-image: -webkit-linear-gradient(top, #70d934, #2bb82f);
  background-image: -moz-linear-gradient(top, #70d934, #2bb82f);
  background-image: -ms-linear-gradient(top, #70d934, #2bb82f);
  background-image: -o-linear-gradient(top, #70d934, #2bb82f);
  background-image: linear-gradient(to bottom, #70d934, #2bb82f);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#login-submit:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}