<!DOCTYPE html>
<html lang="en">
<head>
  <title>Makers BnB</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Catamaran&family=Staatliches&display=swap" rel="stylesheet">
</head>
  <body>
    <header>
      <a href="/"><img class="logo" src="/images/makersbnblogo.png" alt="MakersBNB logo" height="100px"></a>
      <nav>
        <ul>
        <li><a href='/'>Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>About Us</h1>
      <div class="about-team-section">
        <h2>Team Fun Name</h2>
        <div class="about-team-desc">
          <p>What we lack in ability to come up with team names, we make up for with enthusiasm for all things database.</p>
        </div>
      </div>
      <div class="about-area">
        <div class="about-section">
          <h3>Apps</h3>
          <div class="about-desc">
            <p>Hobbies: Skulls</br>
              Special ability: Active Record</p>
          </div>
        </div>
        <div class="about-section">
          <h3>Ash</h3>
          <div class="about-desc">
            <p>Hobbies: Teddy Bears</br>
              Special ability: PR reviews</p>
          </div>
        </div>
        <div class="about-section">
          <h3>Farya</h3>
        <div class="about-desc">
            <p>Hobbies: Snacks</br>
              Special ability: Drawing focus to priorities</p>
          </div>
        </div>
        <div class="about-section">
          <h3>Lizzy</h3>
        <div class="about-desc">
            <p>Hobbies: Cats</br>
              Special ability: CSS wrangling where others dare not</p>
          </div>
        </div>
      </div>
    </main>   
  </body>
</html>
