<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Makers BnB</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran&family=Staatliches&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="/"><img class="logo" src="/images/makersbnblogo.png" alt="MakersBNB logo" height="100px"></a>
      <nav>
        <ul>
          <li><a href="/listings">Listings</li></a>
          <li>   |    </li>
          <li>Homepage</li>
          <li>   |    </li>
          <li><a href = '/'>Sign out</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1> Requests </h1>
        <div class="row">
  <div class="column">Requests I've made</div>
  <div class="column">Requests I've received</div>
</div>
  
         
      </div>
    </main>
  </body>
</html>
